.hero{
    background-color: #F1F3FF;
}

.navbar-brand{
    width: 100px; 
    height: 34px; 
    background-color: #0D28A6;
}

.navbar-nav{
    font-weight: 500;
}

.hero-row{
    height: 379px;
}

.mobil{
    position: absolute;
    left: 104px;
}

.carousel-inner{
    width: 130%; 
    margin-left: -15%;
}

.deskripsi{
    color:white; 
    background-color: #0D28A6; 
    padding: 5% 15%; 
    border-radius: 8px;
}

.item-testi{
    height: 270px;
    width: 619px;
    border-radius: 8px;
    background-color: #F1F3FF;
}

